*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    overflow-x: hidden;
    /* background-color: rgb(30, 63, 30); */
}
header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(4, 134, 0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    display: inline-block;
}
#busqueda{
    margin-top: 1vh;
    height: 20px;
    width: 130px;
}
.account_contenedor{
    display: flex;
    width: 100vw;
    position: absolute;
    justify-content: flex-end;
}
.login{
    box-sizing: content-box;
    display: inline-flex;
    position: relative;
    text-decoration: none;
    color: rgb(0, 23, 53);
    background-color: rgb(0, 115, 0);
    border: solid black 0.5px;
    padding: 5px;
    border-radius: 7px;
    margin-right: 0.5vw;
}
.login:hover{
    transform: scale(105%);
    background-color: darkgreen;
    cursor: pointer;
}
.signup{
    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    text-decoration: none;
    color: rgb(0, 23, 53);
    background-color: rgb(0, 115, 0);
    border: solid black 0.5px;
    padding: 5px;
    border-radius: 7px;
    margin-right: 0.5vw;
}
.signup:hover{
    transform: scale(105%);
    background-color: darkgreen;
    cursor: pointer;
}
nav{
    position: relative;
    text-align: center;
    background-color: lightgreen;
    margin-block-start: 0px;
    margin-bottom: 15px;
    text-decoration: none;
}
.nav_h3{
    margin: 0px;
    display: inline-block;
    text-decoration: none;
}
#titulo{
    padding: 5px; 
}
.top50{
    text-align: center;
    box-sizing: content-box;
    position: relative;
    height: 526px;
    width: 100vw;
    font-size: 1.5em;
}
.h3_top{
    margin-bottom: 5px;
}
@media only screen and (min-width:701px) {
    #top_contenedor {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width:701px) and (max-width:1500px) {
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .signup{
        margin-right: 1vw;
    }
    .top_musica, .top_podcasts{
        margin-left: -1vw;
    }
}
.top_musica, .top_podcasts{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 500px;
    width: 47.5vw;
    border-radius: 12px;
    font-size: 1rem;
    color: antiquewhite;
    border: 2px solid black;
    padding: 0 2.5px 25px 2.5px;
    background-color: rgb(29, 29, 29);
    text-align: center;
}
iframe{
    width: 100%;
    height: 100%;
}
.section3{
    margin-top: 15px;
    height: 5vh;
}
.footer_contenedor{
    margin-top: 2vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
    padding: 2vw;
    background-color: gray;
}
#copyright, #contact {
    display: flex;
    justify-content: center;
    margin-left: -4.5vw;
}

@media only screen and (max-width: 700px) {
    header{
        justify-content: flex-start;
    }
    #busqueda{
        width: 20vw;
    }
    .login, .signup {
        font-size: 0.75rem;
        padding: 2px;
        border: solid black 1px;
    }
    .signup{
        margin-right: 1.5vw;
    }
    .login:hover {
        transform: scale(105%);
    }
    .signup:hover {
        transform: scale(105%);
    }
    .top50 {
        height: max-content;
    }
    .top_musica {
        width: 90vw;
        position: relative;
        margin-left: -1vw;
    }    
    .top_podcasts {
        margin-top: 2vh;
        width: 90vw;
        position: relative;
        margin-left: -1vw;
    }
    .footer_contenedor{
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }
    #copyright{
        margin-left: 0;
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1500px){
    .footer_contenedor{
        position: absolute;
    }
}