* {
    padding: 0px;
    margin: 0px;

    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-serif;  
}

body {
    background-image: url(https://media.giphy.com/media/cmegx6SssTKmEFEcwj/giphy.gif);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
}

header{
    box-sizing: content-box;
    margin-top: 30px;
    margin-bottom: 30px;
}
.titulo{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
header, main, form {
    text-align: center;
}
.cc{
    margin-bottom: -10px;
    display: inline-flex;
    text-decoration: none;
    position: relative;
    color: rgb(47, 0, 255);
    background-color: #10121b;
    padding: 10px;
    border-radius: 30px;
    border: rgb(47, 0, 255) solid 1px;
    z-index: 2;
}
form {
    background-color: #15171e;
    border: solid #15171e 2px;
    border-radius: 25px;
    font-weight: bold;
    position: relative;
    width: 20vw;
    height: 38vh;
    padding-bottom: 10px;
    position: relative;
    left: 40vw;
    color: rgb(255,255,255,.84);
    z-index: 1;
}
.first_label{
    margin-top: 10px;
}
label {
    display: block;
    height: 20%;
}
input {
    width: 70%;
    margin-bottom: 10px;
    text-align: center;
}
input[type="date"]{
    text-align: center;
}
a {
    text-decoration: none;
}
.input_buttons {
    width: 40%;
    height: 10%;
    margin-top: 5px;
    font-weight: bold;
    color: white;
    background-color: rgb(79, 105, 255);
    position: relative;
    top: -2px;
}
.input_buttons:hover{
    transition: .25s;
    transform: scale(115%);
    cursor: pointer;            
    background-color: rgb(47, 0, 255);
}
.login {
    font-weight: bold;
    font-size: 1em;
    color: rgb(0, 0, 0);
}
.alogin {
    font-weight: bold;
    font-size: 1em;
    color: rgb(29, 63, 253);
}
.alogin:hover{
    transition: 0.3s;
    font-size: 1.05em;
    color: rgb(47, 0, 255);
}